# settings.yml

default: &default
  format: json
  contacts:
    - id: 1
      type: 2
      value: user@example.com
      status: 2

example:
  <<: *default
  account_api_key: <<USER YOUR ACCOUNT API KEY>>
  monitors:
    - friendlyname: urlName
      url: http://www.example.com
      type: 2
      keywordtype: 2
      keywordvalue: example
      alertcontacts:
        - 1

